#phone-code-resolver-bar {
    margin: 10% 25%;
}
table{
    margin-top: 2%;
}
footer {
    margin-left: 25%;
    margin-top: 20px;
}

tr {
    margin: 10%;
}

#country {
    color: blue;
}

#info_panel {
    border-radius: 5px;
    display: none;
    padding-left: 10px;
    width: 50%;
}
#info_panel:hover {
    cursor: pointer;
}

#info_panel.error {
    border: 1px solid red;
    background-color: mistyrose;
}

#info_panel.success {
    border: 1px solid green;
    background-color: lightgreen;
}

#info_panel.error, #info_panel.success {
    display: block;
}